In [44]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [45]:
import webbrowser
website='https://en.wikipedia.org/wiki/NFL_winâ€“loss_records'
webbrowser.open(website)

True

In [46]:
nfl_frame=pd.read_clipboard()

In [47]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Dallas,Cowboys,493,367,6,0.573,1960.000,866,NFC,East,NaN
1,2,Green,Bay,Packers,730,553,37.000,0.567,1921,"1,320",NFC,North
2,3,Chicago,Bears,744,568,42,0.565,1920.000,"1,354",NFC,North,NaN
3,4,Miami,Dolphins,439,341,4,0.563,1966.000,784,AFC,East,NaN
4,5,New,England,Patriots,476,383,9.000,0.554,1960,868,AFC,East

In [48]:
nfl_frame.columns

Index([u'Rank', u'Team', u'Won', u'Lost', u'Tied', u'Pct.', u'First', u'NFL',
       u'Season', u'Total', u'Games', u'Division'],
      dtype='object')

In [49]:
nfl_frame.Rank

0    1
1    2
2    3
3    4
4    5
Name: Rank, dtype: int64

In [50]:
nfl_frame.Lost

0         493
1     Packers
2         744
3         439
4    Patriots
Name: Lost, dtype: object

In [51]:
nfl_frame.Team

0     Dallas
1      Green
2    Chicago
3      Miami
4        New
Name: Team, dtype: object

In [53]:
nfl_frame['NFL']

0    1960.000
1       0.567
2    1920.000
3    1966.000
4       0.554
Name: NFL, dtype: float64

In [54]:
#create a new subset of dataframe
DataFrame(nfl_frame,columns=['Team','First NFL Season','Total Games'])

      Team  First NFL Season  Total Games
0   Dallas               NaN          NaN
1    Green               NaN          NaN
2  Chicago               NaN          NaN
3    Miami               NaN          NaN
4      New               NaN          NaN

In [55]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Dallas,Cowboys,493,367,6,0.573,1960.000,866,NFC,East,NaN
1,2,Green,Bay,Packers,730,553,37.000,0.567,1921,"1,320",NFC,North
2,3,Chicago,Bears,744,568,42,0.565,1920.000,"1,354",NFC,North,NaN
3,4,Miami,Dolphins,439,341,4,0.563,1966.000,784,AFC,East,NaN
4,5,New,England,Patriots,476,383,9.000,0.554,1960,868,AFC,East

In [56]:
nfl_frame.head()

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Dallas,Cowboys,493,367,6,0.573,1960.000,866,NFC,East,NaN
1,2,Green,Bay,Packers,730,553,37.000,0.567,1921,"1,320",NFC,North
2,3,Chicago,Bears,744,568,42,0.565,1920.000,"1,354",NFC,North,NaN
3,4,Miami,Dolphins,439,341,4,0.563,1966.000,784,AFC,East,NaN
4,5,New,England,Patriots,476,383,9.000,0.554,1960,868,AFC,East

In [57]:
nfl_frame.head(3)

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Dallas,Cowboys,493,367,6,0.573,1960.000,866,NFC,East,NaN
1,2,Green,Bay,Packers,730,553,37.000,0.567,1921,"1,320",NFC,North
2,3,Chicago,Bears,744,568,42,0.565,1920.000,"1,354",NFC,North,NaN

In [58]:
#show details of a particular index
nfl_frame.ix[3]

Rank               4
Team           Miami
Won         Dolphins
Lost             439
Tied             341
Pct.               4
First          0.563
NFL             1966
Season           784
Total            AFC
Games           East
Division         NaN
Name: 3, dtype: object

In [59]:
nfl_frame["Stadium"]="Levi's Stadium"
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division,Stadium
0,1,Dallas,Cowboys,493,367,6,0.573,1960.000,866,NFC,East,NaN,Levi's Stadium
1,2,Green,Bay,Packers,730,553,37.000,0.567,1921,"1,320",NFC,North,Levi's Stadium
2,3,Chicago,Bears,744,568,42,0.565,1920.000,"1,354",NFC,North,NaN,Levi's Stadium
3,4,Miami,Dolphins,439,341,4,0.563,1966.000,784,AFC,East,NaN,Levi's Stadium
4,5,New,England,Patriots,476,383,9.000,0.554,1960,868,AFC,East,Levi's Stadium

In [60]:
nfl_frame['Stadium']=np.arange(5)
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division,Stadium
0,1,Dallas,Cowboys,493,367,6,0.573,1960.000,866,NFC,East,NaN,0
1,2,Green,Bay,Packers,730,553,37.000,0.567,1921,"1,320",NFC,North,1
2,3,Chicago,Bears,744,568,42,0.565,1920.000,"1,354",NFC,North,NaN,2
3,4,Miami,Dolphins,439,341,4,0.563,1966.000,784,AFC,East,NaN,3
4,5,New,England,Patriots,476,383,9.000,0.554,1960,868,AFC,East,4

In [61]:
stadiums=Series(["Levi's Stadium","AT&T Stadium"],index=[0,4])
stadiums

0    Levi's Stadium
4      AT&T Stadium
dtype: object

In [62]:
nfl_frame['Stadium']=stadiums
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division,Stadium
0,1,Dallas,Cowboys,493,367,6,0.573,1960.000,866,NFC,East,NaN,Levi's Stadium
1,2,Green,Bay,Packers,730,553,37.000,0.567,1921,"1,320",NFC,North,NaN
2,3,Chicago,Bears,744,568,42,0.565,1920.000,"1,354",NFC,North,NaN,NaN
3,4,Miami,Dolphins,439,341,4,0.563,1966.000,784,AFC,East,NaN,NaN
4,5,New,England,Patriots,476,383,9.000,0.554,1960,868,AFC,East,AT&T Stadium

In [63]:
del nfl_frame['Stadium']
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Dallas,Cowboys,493,367,6,0.573,1960.000,866,NFC,East,NaN
1,2,Green,Bay,Packers,730,553,37.000,0.567,1921,"1,320",NFC,North
2,3,Chicago,Bears,744,568,42,0.565,1920.000,"1,354",NFC,North,NaN
3,4,Miami,Dolphins,439,341,4,0.563,1966.000,784,AFC,East,NaN
4,5,New,England,Patriots,476,383,9.000,0.554,1960,868,AFC,East

In [64]:
data = {'City':['SF','LA','NYC'],'Population':[837000,900000,3000000]}

In [65]:
city_frame=DataFrame(data)
city_frame

  City  Population
0   SF      837000
1   LA      900000
2  NYC     3000000

In [66]:
website='http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html'
webbrowser.open(website)

True